* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #EEF2FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

input:focus {
  outline: none;
}
